/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-wrap {
  width:100%;
  background:#fff;
  float:left;
  background-color: #f6f6f6;
  float:left;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
}

.menu {
  padding: 5px;
  flex: 1;
}


.logo > a {
  text-decoration:none;
  color:#000;
  font-size: 37px;
  margin:20px;
  height: auto;
}

.menu-right > ul {
  list-style:none;
  float:right;
  z-index: 999;
}

.menu-right > ul > li {
  display:block;
  font-size:20px;
  float:left;
}

.menu-right > ul > li > a {
  text-decoration:none;
  color:#000;
  padding:2px 10px;
  display:inline-block;
  text-transform:uppercase;
}

.menu-right > ul > li > a:hover {
  transition:all ease 0.3s;
  color:#22f0af;
}

.background{
  background-image: url(../img/screen-0.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

}


.scrip {
  color: #ffdc7c;
  text-align: center;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 30%;
  position:absolute;
}

.scrip > button {
  margin: 10px;
  padding: 10px 50px;
  border: none;
  border-radius: 50px; 
}
.scrip-service {
  color: #623122;
  text-align: center;

}
.scrip-service > button {
  margin: 10px;
  padding: 10px 50px;
  border: none;
  border-right-width: 30% 70%;
  border-radius: 50%;
}
.content {
  margin: 10px;
  text-align: center;
  color: #623122
}
.wrap-form {
  color: #623122;
  margin: 5px;
}
.wrap-form > form > input{
  margin: 10px;
  color: #623122;
  padding:50px;
}
.wrap-form> h1{
  color: #623122;
  margin:5px;
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
}